.task {
  display: flex;
  padding: 16px;
  justify-content: space-between;
  gap: 12px;
  background: #262626;
  border: 1px solid #333333;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.06);
  border-radius: 8px;
}
.taskText {
  display: flex;
  gap: 12px;
  align-items: center;
}
.taskText p {
  color: #f2f2f2;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
}

.taskText span {
  position: absolute;
  display: block;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #fff;
}
button {
  background: transparent;
  border: 0;
  color: #fff;
  cursor: pointer;
  display: flex;
  align-items: center;
  border-radius: 2px;
}
.task button:hover {
  color: seagreen;
}
/* input[type="checkbox"]:checked ~ span {
  background: #5e60ce;
}
input[type="checkbox"]:checked ~ p {

}
input[type="checkbox"] {
  outline: none;
  content: none;
}
label {
  display: block;
  width: 13px;
  height: 13px;
  border-radius: 100px;
  cursor: pointer;
} */
.checkboxContainer {
  display: block;
  position: relative;
  padding-left: 14px;
  margin-bottom: 10px;
}
.checkboxContainer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkboxContainer input:checked ~ .checkmark {
  background: #5e60ce;
}

.checkboxContainer input:checked ~ .checkmark:after {
  display: block;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  width: 16px;
  height: 16px;
  border-radius: 2px;
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
  left: 4px;
  top: 2px;
  width: 3px;
  height: 6px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
.completed {
  text-decoration-line: line-through;
  color: #808080;
  opacity: 0.6;
}
